@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.midi-generator-item-container {
  max-height: 200px;
  overflow-y: auto;
  margin-top: -1px;
  border-bottom: 1px solid #dbdbdb;
  -webkit-overflow-scrolling: touch; }
  .midi-generator-item-container .panel-block:last-child {
    border-bottom: none; }

a.panel-block.midi-generator-item {
  display: flex;
  justify-content: space-between; }

.midi-generator-item-note {
  display: flex;
  align-items: center; }
