@import 'colors.scss';

.note-row-canvas-container {
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    user-select: none;
  }
}

